/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar{
    background-color:#e7e6e6;
    width: 10px;   
}

::-webkit-scrollbar-thumb{
    background-color: #f33064;
    border-radius: 20px;
}